@import "tailwindcss";

@theme {
  --breakpoint-xs: 21.5625rem;
}

@utility container {
  padding-inline: 1rem;
  @variant sm {
    padding-inline: 3rem
  }
  @variant md {
    padding-inline: 4rem
  }

  @variant lg {
    padding-inline: 10rem
  }
}

@utility disabled {
  @apply bg-gray-300 text-gray-600 cursor-not-allowed pointer-events-none opacity-50
}

button {
  @apply cursor-pointer
}