@import "tailwindcss";

@theme {
  --breakpoint-xs: 21.5625rem;
}

@utility container {
  padding-inline: 0rem;

  @variant sm {
    padding-inline: 1rem
  }

  @variant md {
    padding-inline: 3rem
  }

  @variant lg {
    padding-inline: 5rem
  }
}

@utility disabled {
  @apply bg-gray-300 text-gray-600 cursor-not-allowed pointer-events-none opacity-50
}

button {
  @apply cursor-pointer
}

textarea, ::file-selector-button {
  @apply outline-blue-400 border-blue-200
}

input:not(.search input, [type="checkbox"]), select, file {
  @apply outline-blue-400 border-blue-200 h-[2.5rem]
}

input[type="checkbox"] {
  @apply outline-blue-400 border-3 border-blue-200 w-4 h-4 bg-blue-500 focus:bg-blue-300 focus:ring-2 focus:ring-offset-1 rounded-lg ring-blue-400 hover:bg-gray-800
}

label span {
  @variant sm {
    @apply text-xs
  }

  @variant md {
    @apply text-sm
  }

  @variant lg {
    /* @apply text-sm */
  }
}